<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
	
	body {
		font-family: 'Lato';
	}
	
	h1, h2, h3 {
		font-family: Montserrat;
	}
	
	header {
		text-align: center;
	}
	
	ul#users {
		display: inline-block;
		width: 30%;
		vertical-align: top;
	}
	
	div#articles {
		display: inline-block;
		width: 60%;
	}
	
	ul#users li {
		cursor: pointer;
	}
	
	ul#users li:hover {
		color: firebrick;
	}
</style>
